In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Verkhnyaya Inta,RU,2020-10-24 21:06:52,65.98,60.31,20.08,92,94,12.73
1,1,Vaini,TO,2020-10-24 21:06:53,-21.20,-175.20,73.40,88,75,10.29
2,2,Ribeira Grande,PT,2020-10-24 21:06:53,38.52,-28.70,66.20,93,40,17.22
3,3,Atuona,PF,2020-10-24 21:06:53,-9.80,-139.03,78.73,74,1,22.75
4,4,Hermanus,ZA,2020-10-24 21:06:53,-34.42,19.23,62.01,91,6,4.00

In [7]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Atuona,PF,2020-10-24 21:06:53,-9.80,-139.03,78.73,74,1,22.75
12,12,Kalianget,ID,2020-10-24 21:06:55,-7.05,113.93,81.88,77,84,6.29
13,13,Avarua,CK,2020-10-24 21:02:27,-21.21,-159.78,75.20,73,37,14.99
16,16,Faanui,PF,2020-10-24 21:02:37,-16.48,-151.75,79.14,74,45,7.54
17,17,Puerto Ayora,EC,2020-10-24 21:06:56,-0.74,-90.35,77.00,73,40,14.99
20,20,Cabo San Lucas,MX,2020-10-24 21:05:57,22.89,-109.91,90.00,66,5,9.17
22,22,Porto Novo,BJ,2020-10-24 21:06:57,6.50,2.60,82.40,83,20,9.17
29,29,Lubao,PH,2020-10-24 21:06:59,14.92,120.55,75.20,94,90,2.24
30,30,Georgetown,MY,2020-10-24 21:02:37,5.41,100.34,77.00,94,40,3.36
33,33,Catuday,PH,2020-10-24 21:07:00,16.29,119.81,78.39,81,100,4.45

In [20]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
3           Atuona      PF     78.73  -9.80 -139.03
12       Kalianget      ID     81.88  -7.05  113.93
13          Avarua      CK     75.20 -21.21 -159.78
16          Faanui      PF     79.14 -16.48 -151.75
17    Puerto Ayora      EC     77.00  -0.74  -90.35
20  Cabo San Lucas      MX     90.00  22.89 -109.91
22      Porto Novo      BJ     82.40   6.50    2.60
29           Lubao      PH     75.20  14.92  120.55
30      Georgetown      MY     77.00   5.41  100.34
33         Catuday      PH     78.39  16.29  119.81

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
len(hotels["results"])

11

In [33]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Atuona,PF,78.73,-9.80,-139.03,Villa Enata
12,Kalianget,ID,81.88,-7.05,113.93,Pesanggrahan Garam
13,Avarua,CK,75.20,-21.21,-159.78,Paradise Inn
16,Faanui,PF,79.14,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
17,Puerto Ayora,EC,77.00,-0.74,-90.35,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...
538,Cotonou,BJ,82.40,6.37,2.42,Novotel Cotonou Orisha
542,Kendari,ID,76.33,-3.94,122.50,Hotel Wixel
545,Moron,AR,78.01,-34.65,-58.62,Hotel Morón
546,Takoradi,GH,77.68,4.88,-1.76,Raybow International Hotel
549,Paramirim,BR,81.84,-13.44,-42.24,Pousada Rio Pequeno

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]